trainings flow complete.json
[
    {
        "id": "50df741a099ea5eb",
        "type": "tab",
        "label": "APM: UI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b689e14837087fbf",
        "type": "ui_artlessgauge",
        "z": "50df741a099ea5eb",
        "group": "276a94a6eedd5d30",
        "order": 3,
        "width": 4,
        "height": 4,
        "name": "Temperature",
        "icon": "",
        "label": "Temperature",
        "unit": "",
        "layout": "radial",
        "decimals": "1",
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload.TMP.Value",
        "secondary": "payload.TMP.Unit",
        "inline": true,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#00ccff",
                "t": "min",
                "dot": 0
            },
            {
                "val": 17,
                "col": "#6678ff",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 20,
                "col": "#66cc00",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 26,
                "col": "#db6300",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 30,
                "col": "#cc0000",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 50,
                "col": "#cc0000",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": 3,
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 1210,
        "y": 340,
        "wires": []
    },
    {
        "id": "31faf9d4d8eccdf3",
        "type": "ui_artlessgauge",
        "z": "50df741a099ea5eb",
        "group": "276a94a6eedd5d30",
        "order": 6,
        "width": 4,
        "height": 4,
        "name": "Pressure",
        "icon": "",
        "label": "Pressure",
        "unit": "",
        "layout": "radial",
        "decimals": "0",
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload.PRS.Value",
        "secondary": "payload.PRS.Unit",
        "inline": true,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#cccccc",
                "t": "min",
                "dot": 0
            },
            {
                "val": 2000,
                "col": "#cccccc",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": 3,
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 1200,
        "y": 380,
        "wires": []
    },
    {
        "id": "06a6ad3c52e19f07",
        "type": "ui_artlessgauge",
        "z": "50df741a099ea5eb",
        "group": "276a94a6eedd5d30",
        "order": 4,
        "width": 4,
        "height": 4,
        "name": "Humidity",
        "icon": "",
        "label": "Humidity",
        "unit": "",
        "layout": "radial",
        "decimals": "1",
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload.HUM.Value",
        "secondary": "payload.HUM.Unit",
        "inline": true,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#ff3333",
                "t": "min",
                "dot": 0
            },
            {
                "val": 30,
                "col": "#fff266",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 40,
                "col": "#009999",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 60,
                "col": "#fff566",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 70,
                "col": "#ff3333",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 80,
                "col": "#ff3333",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": 3,
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 1200,
        "y": 420,
        "wires": []
    },
    {
        "id": "dc59ad6283ab0726",
        "type": "ui_artlessgauge",
        "z": "50df741a099ea5eb",
        "group": "276a94a6eedd5d30",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Breath Voc Equivalent",
        "icon": "",
        "label": "Breath VOC",
        "unit": "",
        "layout": "linear",
        "decimals": "2",
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload.VOC.Value",
        "secondary": "payload.VOC.Unit",
        "inline": true,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#37ff00",
                "t": "min",
                "dot": 0
            },
            {
                "val": 3,
                "col": "#ffeb66",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 7,
                "col": "#990a00",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 10,
                "col": "#990a00",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "3",
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 1240,
        "y": 600,
        "wires": []
    },
    {
        "id": "4f4c465347286d2a",
        "type": "ui_artlessgauge",
        "z": "50df741a099ea5eb",
        "group": "276a94a6eedd5d30",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "IAQ",
        "icon": "",
        "label": "IAQ",
        "unit": "",
        "layout": "linear",
        "decimals": 0,
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload.IAQ.Value",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#37ff00",
                "t": "min",
                "dot": 0
            },
            {
                "val": 50,
                "col": "#37ff00",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 100,
                "col": "#f5ff66",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 150,
                "col": "#990000",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 200,
                "col": "#990000",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "7",
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 1190,
        "y": 520,
        "wires": []
    },
    {
        "id": "ebe2bbc2c9305a5a",
        "type": "ui_artlessgauge",
        "z": "50df741a099ea5eb",
        "group": "276a94a6eedd5d30",
        "order": 5,
        "width": 4,
        "height": 4,
        "name": "Volume",
        "icon": "",
        "label": "Volume",
        "unit": "",
        "layout": "radial",
        "decimals": "1",
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload.VOL.Value",
        "secondary": "payload.VOL.Unit",
        "inline": true,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#2bff00",
                "t": "min",
                "dot": 0
            },
            {
                "val": 55,
                "col": "#fcff66",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 60,
                "col": "#990000",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 100,
                "col": "#990000",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": 3,
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 1200,
        "y": 460,
        "wires": []
    },
    {
        "id": "76860dbcce1dd1e0",
        "type": "ui_artlessgauge",
        "z": "50df741a099ea5eb",
        "group": "276a94a6eedd5d30",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "IAQ Accuracy",
        "icon": "",
        "label": "IAQ Accuracy",
        "unit": "",
        "layout": "linear",
        "decimals": 0,
        "differential": false,
        "minmax": false,
        "colorTrack": "#555555",
        "style": "",
        "colorFromTheme": true,
        "property": "payload.IAQ.Acc",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#e1ff00",
                "t": "min",
                "dot": 0
            },
            {
                "val": 1,
                "col": "#cd0404",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 2,
                "col": "#2e0099",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 3,
                "col": "#37ff00",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 4,
                "col": "#37ff00",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "7",
        "bgcolorFromTheme": true,
        "diffCenter": "",
        "x": 1220,
        "y": 560,
        "wires": []
    },
    {
        "id": "c79a685cda67e34c",
        "type": "ui_text",
        "z": "50df741a099ea5eb",
        "group": "276a94a6eedd5d30",
        "order": 2,
        "width": 8,
        "height": 1,
        "name": "Unique ID",
        "label": "S/N: ",
        "format": "{{msg.payload.UniqueId}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1200,
        "y": 280,
        "wires": []
    },
    {
        "id": "9195f8227c76d489",
        "type": "smooth",
        "z": "50df741a099ea5eb",
        "name": "Round to 1 decimal places",
        "property": "payload",
        "action": "mean",
        "count": "1",
        "round": "1",
        "mult": "single",
        "reduce": true,
        "x": 1920,
        "y": 180,
        "wires": [
            [
                "758e9afcddcf6a5e"
            ]
        ]
    },
    {
        "id": "104be37112c5115c",
        "type": "ui_chart",
        "z": "50df741a099ea5eb",
        "name": "IAQ Chart (72h)",
        "group": "b3e1da4d9215f5a3",
        "order": 1,
        "width": 10,
        "height": 6,
        "label": "Air Quality Chart (72h)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "400",
        "removeOlder": "72",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2180,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "758e9afcddcf6a5e",
        "type": "ui_chart",
        "z": "50df741a099ea5eb",
        "name": "TMP Chart (72h)",
        "group": "b3e1da4d9215f5a3",
        "order": 2,
        "width": 10,
        "height": 6,
        "label": "Temperature Chart (72h)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "50",
        "removeOlder": "72",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2190,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "73634326ed90a480",
        "type": "change",
        "z": "50df741a099ea5eb",
        "name": "Select IAQ Value",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.IAQ.Value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1490,
        "y": 140,
        "wires": [
            [
                "1c990a15abcf78f1",
                "8f5a120d15d0d315"
            ]
        ]
    },
    {
        "id": "fafe11cfee33342c",
        "type": "change",
        "z": "50df741a099ea5eb",
        "name": "Select TMP Value",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.TMP.Value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1490,
        "y": 180,
        "wires": [
            [
                "9195f8227c76d489",
                "d0bcb619ae2ade39"
            ]
        ]
    },
    {
        "id": "7bb49b94f89c480e",
        "type": "change",
        "z": "50df741a099ea5eb",
        "name": "Select Volume Value",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.VOL.Value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 220,
        "wires": [
            [
                "31ef42b4516ffe3b",
                "d44ea28d60310d1d"
            ]
        ]
    },
    {
        "id": "31ef42b4516ffe3b",
        "type": "smooth",
        "z": "50df741a099ea5eb",
        "name": "Round to 1 decimal places",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "1",
        "mult": "single",
        "reduce": true,
        "x": 1920,
        "y": 220,
        "wires": [
            [
                "99d34eb1cdef6eba"
            ]
        ]
    },
    {
        "id": "99d34eb1cdef6eba",
        "type": "ui_chart",
        "z": "50df741a099ea5eb",
        "name": "Volume Chart (72h)",
        "group": "3c96f3e68cc6b8e0",
        "order": 1,
        "width": 10,
        "height": 6,
        "label": "Volume Chart (72h)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "30",
        "ymax": "70",
        "removeOlder": "72",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2190,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "f356fbeb7a41b7d7",
        "type": "ui_chart",
        "z": "50df741a099ea5eb",
        "name": "Humidity Chart (72h)",
        "group": "3c96f3e68cc6b8e0",
        "order": 2,
        "width": 10,
        "height": 6,
        "label": "Humidity Chart (72h)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "72",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2200,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "6bce75ecec4ba9ac",
        "type": "change",
        "z": "50df741a099ea5eb",
        "name": "Select Humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.HUM.Value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1480,
        "y": 260,
        "wires": [
            [
                "6a7973cf22649ad4",
                "0ad9ba9addc5c426"
            ]
        ]
    },
    {
        "id": "a306c9069059cd71",
        "type": "ui_template",
        "z": "50df741a099ea5eb",
        "group": "276a94a6eedd5d30",
        "name": "TresCom Logo",
        "order": 1,
        "width": 8,
        "height": 3,
        "format": "<figure>\n    <img src = \"https://www.trescom-technology.com/pics/logo_trescom.png\" />\n</figure>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1220,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "6daaa81e70a0777b",
        "type": "ui_template",
        "z": "50df741a099ea5eb",
        "group": "276a94a6eedd5d30",
        "name": "",
        "order": 10,
        "width": 0,
        "height": 0,
        "format": "",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "spacer",
        "x": 1200,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "4bbcbb93228449c8",
        "type": "smooth",
        "z": "50df741a099ea5eb",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "1",
        "round": "",
        "mult": "single",
        "reduce": false,
        "x": 1200,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "1c990a15abcf78f1",
        "type": "smooth",
        "z": "50df741a099ea5eb",
        "name": "Round to 1 decimal places",
        "property": "payload",
        "action": "mean",
        "count": "1",
        "round": "1",
        "mult": "single",
        "reduce": true,
        "x": 1920,
        "y": 140,
        "wires": [
            [
                "104be37112c5115c"
            ]
        ]
    },
    {
        "id": "6a7973cf22649ad4",
        "type": "smooth",
        "z": "50df741a099ea5eb",
        "name": "Round to 1 decimal places",
        "property": "payload",
        "action": "mean",
        "count": "1",
        "round": "1",
        "mult": "single",
        "reduce": true,
        "x": 1920,
        "y": 260,
        "wires": [
            [
                "f356fbeb7a41b7d7"
            ]
        ]
    },
    {
        "id": "8c09f32adb93b2f0",
        "type": "debug",
        "z": "50df741a099ea5eb",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 100,
        "wires": []
    },
    {
        "id": "035520dba5505e89",
        "type": "link in",
        "z": "50df741a099ea5eb",
        "name": "link in 2",
        "links": [
            "6064a262ccf1391b"
        ],
        "x": 905,
        "y": 200,
        "wires": [
            [
                "8c09f32adb93b2f0",
                "73634326ed90a480",
                "fafe11cfee33342c",
                "7bb49b94f89c480e",
                "6bce75ecec4ba9ac",
                "c79a685cda67e34c",
                "b689e14837087fbf",
                "31faf9d4d8eccdf3",
                "06a6ad3c52e19f07",
                "ebe2bbc2c9305a5a",
                "4f4c465347286d2a",
                "76860dbcce1dd1e0",
                "dc59ad6283ab0726",
                "8e15ad1324b4ec32"
            ]
        ]
    },
    {
        "id": "5b6321afb0e5d974",
        "type": "csv",
        "z": "50df741a099ea5eb",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": "",
        "x": 2890,
        "y": 540,
        "wires": [
            [
                "3a7d819746425011",
                "b9c5e551138c3e24"
            ]
        ]
    },
    {
        "id": "3a7d819746425011",
        "type": "file",
        "z": "50df741a099ea5eb",
        "name": "Trainingsdaten schreiben",
        "filename": "C:\\Users\\Jeuh\\Desktop\\Projektdaten lokal\\03_Edge-Platform - Bachelorprojekt\\Software\\KI-Modelle\\Trainingsdaten\\TestData.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 3090,
        "y": 540,
        "wires": [
            [
                "b849d992b8047481"
            ]
        ]
    },
    {
        "id": "b9c5e551138c3e24",
        "type": "debug",
        "z": "50df741a099ea5eb",
        "name": "CSV-Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2890,
        "y": 580,
        "wires": []
    },
    {
        "id": "b849d992b8047481",
        "type": "debug",
        "z": "50df741a099ea5eb",
        "name": "Filewrite-Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3300,
        "y": 580,
        "wires": []
    },
    {
        "id": "48691fe0744c3692",
        "type": "debug",
        "z": "50df741a099ea5eb",
        "name": "Input Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1790,
        "y": 580,
        "wires": []
    },
    {
        "id": "8f5a120d15d0d315",
        "type": "function",
        "z": "50df741a099ea5eb",
        "name": "IAQ csv",
        "func": "msg.payload = {\n    IAQ: msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1780,
        "y": 340,
        "wires": [
            [
                "d224a7d92269d3d3"
            ]
        ]
    },
    {
        "id": "d0bcb619ae2ade39",
        "type": "function",
        "z": "50df741a099ea5eb",
        "name": "TMP csv",
        "func": "msg.payload = {\n    Temp: msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1780,
        "y": 380,
        "wires": [
            [
                "d224a7d92269d3d3"
            ]
        ]
    },
    {
        "id": "d44ea28d60310d1d",
        "type": "function",
        "z": "50df741a099ea5eb",
        "name": "Volume csv",
        "func": "msg.payload = {\n    Volume: msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1790,
        "y": 420,
        "wires": [
            [
                "d224a7d92269d3d3"
            ]
        ]
    },
    {
        "id": "0ad9ba9addc5c426",
        "type": "function",
        "z": "50df741a099ea5eb",
        "name": "Hum csv",
        "func": "msg.payload = {\n    Hum: msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1780,
        "y": 460,
        "wires": [
            [
                "d224a7d92269d3d3"
            ]
        ]
    },
    {
        "id": "d224a7d92269d3d3",
        "type": "join",
        "z": "50df741a099ea5eb",
        "name": "Create csv String",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ",",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "7",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2050,
        "y": 400,
        "wires": [
            [
                "ad9cd8dc19cfda1a",
                "d719b62f5ac6ad90"
            ]
        ]
    },
    {
        "id": "ad9cd8dc19cfda1a",
        "type": "debug",
        "z": "50df741a099ea5eb",
        "name": "Join Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2050,
        "y": 440,
        "wires": []
    },
    {
        "id": "2068d5767528bbe4",
        "type": "ui_switch",
        "z": "50df741a099ea5eb",
        "name": "",
        "label": "Arbeitsplatz belegt",
        "tooltip": "",
        "group": "b3e1da4d9215f5a3",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1570,
        "y": 880,
        "wires": [
            [
                "626cd13f5631f54e"
            ]
        ]
    },
    {
        "id": "7ae107e71d8d7bdc",
        "type": "debug",
        "z": "50df741a099ea5eb",
        "name": "Switch Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1720,
        "y": 760,
        "wires": []
    },
    {
        "id": "dc36d97d3b1a0298",
        "type": "link in",
        "z": "50df741a099ea5eb",
        "name": "link in 1",
        "links": [
            "3f8e0fde6076ec52"
        ],
        "x": 1165,
        "y": 740,
        "wires": [
            [
                "626cd13f5631f54e"
            ]
        ]
    },
    {
        "id": "2c87810417cea14a",
        "type": "function",
        "z": "50df741a099ea5eb",
        "name": "Arbeitsplatzstatus",
        "func": "msg.payload = {\n    Arbeitsplatz_besetzt: msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1810,
        "y": 620,
        "wires": [
            [
                "d224a7d92269d3d3"
            ]
        ]
    },
    {
        "id": "626cd13f5631f54e",
        "type": "function",
        "z": "50df741a099ea5eb",
        "name": "Switch function ",
        "func": "let trigger = \"G\";\nlet status = context.get(\"switchStatus\");\nlet flowStatus = flow.get(\"switchState\", \"default\");\n\n\nif (msg.payload === \"G\") {\n    if (status !== undefined) {\n\n        return { payload: status };\n    } else {\n        return { payload: flow.get(\"switchStatus\", \"default\") };\n    }\n}\nelse {\n    context.set(\"switchStatus\", msg.payload);\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 760,
        "wires": [
            [
                "2c87810417cea14a"
            ]
        ]
    },
    {
        "id": "123b2b51bb16cc5a",
        "type": "comment",
        "z": "50df741a099ea5eb",
        "name": "Daten in Schlüssel:Wert Format für csv Node bringen",
        "info": "",
        "x": 1910,
        "y": 660,
        "wires": []
    },
    {
        "id": "d719b62f5ac6ad90",
        "type": "function",
        "z": "50df741a099ea5eb",
        "name": "sort",
        "func": "let data = msg.payload;\nmsg.payload = {\n    Timestamp:    data.Timestamp,\n    Temp:         data.Temp,\n    IAQ:          data.IAQ,\n    Volume:       data.Volume,\n    Hum:          data.Hum,\n    VOC:          data.VOC,\n    Arbeitsplatz_besetzt: data.Arbeitsplatz_besetzt\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2270,
        "y": 400,
        "wires": [
            [
                "b22d13aab52812a8",
                "200b97d7bd0f60e3"
            ]
        ]
    },
    {
        "id": "b22d13aab52812a8",
        "type": "debug",
        "z": "50df741a099ea5eb",
        "name": "Sort Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2290,
        "y": 440,
        "wires": []
    },
    {
        "id": "84a85b06f0b3656d",
        "type": "comment",
        "z": "50df741a099ea5eb",
        "name": "Objektstruktur sortieren (nicht funktional relevant)",
        "info": "",
        "x": 2400,
        "y": 360,
        "wires": []
    },
    {
        "id": "9d08c332fc0be80d",
        "type": "ui_switch",
        "z": "50df741a099ea5eb",
        "name": "",
        "label": "Trainingsdaten schreiben",
        "tooltip": "",
        "group": "3c96f3e68cc6b8e0",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1590,
        "y": 960,
        "wires": [
            [
                "208a14f494252e13"
            ]
        ]
    },
    {
        "id": "208a14f494252e13",
        "type": "function",
        "z": "50df741a099ea5eb",
        "name": "Trainingstate",
        "func": "flow.set(\"trainingEnabled\", msg.payload);\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1830,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "200b97d7bd0f60e3",
        "type": "function",
        "z": "50df741a099ea5eb",
        "name": "Trainingsmode enable",
        "func": "let trainingEnabled = flow.get(\"trainingEnabled\", \"default\") || false;\n\nif(trainingEnabled){\n    return msg;\n} else {\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2760,
        "y": 460,
        "wires": [
            [
                "5b6321afb0e5d974"
            ]
        ]
    },
    {
        "id": "b4b81375f80cb3e7",
        "type": "function",
        "z": "50df741a099ea5eb",
        "name": "Switch set 0 at start",
        "func": "flow.set(\"trainingEnabled\", false, \"default\");\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2290,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "1d0783f75b980dc6",
        "type": "inject",
        "z": "50df741a099ea5eb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 2050,
        "y": 880,
        "wires": [
            [
                "b4b81375f80cb3e7"
            ]
        ]
    },
    {
        "id": "df95c4a0991f51b2",
        "type": "ui_ui_control",
        "z": "50df741a099ea5eb",
        "name": "",
        "events": "all",
        "x": 1200,
        "y": 960,
        "wires": [
            [
                "1cfa83babed7d9f1"
            ]
        ]
    },
    {
        "id": "1cfa83babed7d9f1",
        "type": "function",
        "z": "50df741a099ea5eb",
        "name": "ui switch reset",
        "func": "\nreturn {\n        payload: false,\n        socketid:msg.socketid\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 960,
        "wires": [
            [
                "9d08c332fc0be80d"
            ]
        ]
    },
    {
        "id": "814f73f0794c7aa2",
        "type": "ui_ui_control",
        "z": "50df741a099ea5eb",
        "name": "",
        "events": "all",
        "x": 1200,
        "y": 880,
        "wires": [
            [
                "91f95584071615cb"
            ]
        ]
    },
    {
        "id": "91f95584071615cb",
        "type": "function",
        "z": "50df741a099ea5eb",
        "name": "ui switch reset",
        "func": "let saved = flow.get(\"switchStatus\", \"default\") ?? false;\n\n\nreturn {\n        payload: saved,\n        socketid:msg.socketid\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 880,
        "wires": [
            [
                "2068d5767528bbe4"
            ]
        ]
    },
    {
        "id": "0d535752b498e738",
        "type": "inject",
        "z": "50df741a099ea5eb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 890,
        "y": 880,
        "wires": [
            [
                "1bee378328c7f7f7"
            ]
        ]
    },
    {
        "id": "1bee378328c7f7f7",
        "type": "function",
        "z": "50df741a099ea5eb",
        "name": "function 2",
        "func": "flow.set(\"switchStatus\", 0, \"default\");\ncontext.set(\"switchStatus\", 0, \"default\");\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 880,
        "wires": [
            [
                "814f73f0794c7aa2"
            ]
        ]
    },
    {
        "id": "8e15ad1324b4ec32",
        "type": "change",
        "z": "50df741a099ea5eb",
        "name": "Select VOC",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.VOC.Value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1470,
        "y": 300,
        "wires": [
            [
                "8ed1ff1ac990c4a9",
                "48691fe0744c3692"
            ]
        ]
    },
    {
        "id": "8ed1ff1ac990c4a9",
        "type": "function",
        "z": "50df741a099ea5eb",
        "name": "VOC csv",
        "func": "msg.payload = {\n    VOC: msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1780,
        "y": 500,
        "wires": [
            [
                "d224a7d92269d3d3"
            ]
        ]
    },
    {
        "id": "b3a52256aebb7c74",
        "type": "debug",
        "z": "50df741a099ea5eb",
        "name": "Timestamp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2010,
        "y": 580,
        "wires": []
    },
    {
        "id": "151f6527137abca9",
        "type": "function",
        "z": "50df741a099ea5eb",
        "name": "Timestamp",
        "func": "const now = new Date();\nconst timestamp = now.toLocaleString(\"de-DE\", {\n    timeZone: \"Europe/Berlin\",\n    hour12: false\n});\nmsg.payload = {\n    Timestamp: timestamp\n}\nreturn msg;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1790,
        "y": 540,
        "wires": [
            [
                "b3a52256aebb7c74",
                "d224a7d92269d3d3"
            ]
        ]
    },
    {
        "id": "30d733c2f92e1311",
        "type": "link in",
        "z": "50df741a099ea5eb",
        "name": "link in 3",
        "links": [
            "3f8e0fde6076ec52"
        ],
        "x": 1555,
        "y": 540,
        "wires": [
            [
                "151f6527137abca9"
            ]
        ]
    },
    {
        "id": "f1eec953c897c3c3",
        "type": "inject",
        "z": "50df741a099ea5eb",
        "name": "Every Intervall: Create Command to Get Data",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "4",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "G",
        "payloadType": "str",
        "x": 240,
        "y": 200,
        "wires": [
            [
                "82c6050b4292e347",
                "fb774d64010d60bf"
            ]
        ]
    },
    {
        "id": "fdf5a4eebabb2030",
        "type": "json",
        "z": "50df741a099ea5eb",
        "name": "JSON String to Object",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 300,
        "wires": [
            [
                "3b4db497d6feea19",
                "496db7bb3ca36128"
            ]
        ]
    },
    {
        "id": "496db7bb3ca36128",
        "type": "debug",
        "z": "50df741a099ea5eb",
        "name": "JSON Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 360,
        "wires": []
    },
    {
        "id": "3b4db497d6feea19",
        "type": "link out",
        "z": "50df741a099ea5eb",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "db9166ce1c697e29"
        ],
        "x": 795,
        "y": 300,
        "wires": []
    },
    {
        "id": "f5f0b99e3bde1008",
        "type": "serial in",
        "z": "50df741a099ea5eb",
        "name": "Receive from Port [edit if necessary]",
        "serial": "7c8c0c20bac7f8d0",
        "x": 230,
        "y": 300,
        "wires": [
            [
                "fdf5a4eebabb2030"
            ]
        ]
    },
    {
        "id": "82c6050b4292e347",
        "type": "serial out",
        "z": "50df741a099ea5eb",
        "name": "Send to Port [edit if necessary]",
        "serial": "7c8c0c20bac7f8d0",
        "x": 680,
        "y": 200,
        "wires": []
    },
    {
        "id": "fb774d64010d60bf",
        "type": "link out",
        "z": "50df741a099ea5eb",
        "name": "Switch Value Sync",
        "mode": "link",
        "links": [
            "51fb15c04944ec49",
            "6cdfcf2c2e27dea5"
        ],
        "x": 575,
        "y": 260,
        "wires": []
    },
    {
        "id": "276a94a6eedd5d30",
        "type": "ui_group",
        "name": "Device 1",
        "tab": "de39928f7533d2e8",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b3e1da4d9215f5a3",
        "type": "ui_group",
        "name": "History",
        "tab": "de39928f7533d2e8",
        "order": 5,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3c96f3e68cc6b8e0",
        "type": "ui_group",
        "name": "Charts_2",
        "tab": "de39928f7533d2e8",
        "order": 3,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7c8c0c20bac7f8d0",
        "type": "serial-port",
        "name": "",
        "serialport": "COM5",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "10",
        "bin": "false",
        "out": "time",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "de39928f7533d2e8",
        "type": "ui_tab",
        "name": "APM",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]